.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* part only for my joy and happiness */
.modalLayout {
    position: fixed;
    z-index: 9;
    background-color: rgba(2, 2, 2, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    >div{
 background-color: aliceblue;
 width: 50vw;
 height: 50vh;
 top: 50%;
 left: 50%;
 transform: translateX(50%) translateY(50%);
    }
}

.changeColor {
  background-color: aliceblue;
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid black;
}
.changeColor :first-child div {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}

.changeColor :nth-child(2) div {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
}

.changeColor :last-child div {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: green;
  border: 1px solid black;
}
